img{
    width: 100%;
}

p{
    display: inline-block;
    margin: 0px;
    vertical-align: top;
    line-height: 2em;
}

i{
    padding: 0 10px 0 0;
}

li {
    margin: 10px 0;
}

ul {  
    width: 243px;
    vertical-align: middle;
    margin: 0 auto; 
}

.card-title {
    display: block;
    text-align: center;
    font-size: 32px !important;
}

.card-action {
    margin: 0 auto;
    width: 243px;
}